html,
body {
	font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	background-color: #eee;
}

header {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	height: 44px;
	position: fixed;
	white-space: nowrap;
	z-index: 10;
}

header>* {
	vertical-align: middle;
	display: inline-block;
}

#stripes {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right, #fcc441 0%, #1a71a9 19%, #1a71a9 43%, #1e9449 59%, #1e9449 100%);
}

#logo {
	height: 42px;
}

#logo img {
	margin: 2px 10px;
}

.filter li {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin: 0 1.5px;
}

.filter li:hover {
	background-color: #eee;
}

.filter li.checked {
	background-color: #ddd;
}

.filter a {
	float: left;
	width: 25px;
	height: 25px;
	background-size: 22px 22px;
	background-position: center center;
	background-repeat: no-repeat;
	color: #323232;
	text-decoration: none;
}

.filter .pageview,
.track.pageview {
	background-image: url('../img/ico-pageview.png');
}

.filter .event,
.track.event {
	background-image: url('../img/ico-event.png');
}

.filter .analytics4,
.track.analytics4 {
	background-image: url('../img/ico-four.png');
}

.filter .social,
.track.social {
	background-image: url('../img/ico-social.png');
}

.filter .transaction,
.track.transaction {
	background-image: url('../img/ico-transaction.png');
}

.filter .item,
.track.item {
	background-image: url('../img/ico-item.png');
}

.filter .timing,
.track.timing {
	background-image: url('../img/ico-timing.png');
}

.filter .appview,
.track.appview {
	background-image: url('../img/ico-appview.png');
}

.filter .exception,
.track.exception {
	background-image: url('../img/ico-exception.png');
}

.clear,
#busca {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.clear {
	background-color: #eeeeee;
	color: #555;
	width: 100px;
	height: 25px;
	line-height: 15px;
	transition: all 0.5s;
}

.clear-filter {
	margin-left: 1em;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.clear-report {
	margin-right: 1em;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.clear:hover {
	background-color: #dddddd;
	border-color: #aaa;
}

.clear:active {
	border-color: #aaa;
	border-bottom-color: #888;
	box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

#busca {
	height: 20px;
}

.track {
	margin: 5px 1%;
	background-color: #f5f5f5;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #888888;
	overflow: hidden;
	cursor: pointer;
	background-position: 5px 4px;
	background-repeat: no-repeat;
	background-size: 18px;
	position: relative;
}

.label {
	margin: 0 3% -3px;
	height: 3px;
	border-radius: 0 10px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent 10%, transparent 80%, rgba(0, 0, 0, 0.3));
	background-color: #1b9ed5;
}

.label.ok {
	background-color: #87c23f;
}

.label.warn {
	background-color: #fbab3d;
}

.label.error,
.track.exception .label {
	background-color: #ff5a5a;
}

.type {
	float: left;
	margin-right: 10px;
	width: 22px;
	margin-top: 2px;
}

.content {
	padding: 4px 26px 3px 24px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 18px;
	height: 18px;
}

.track:hover .delete {
	display: block;
}

.delete {
	display: none;
	position: absolute;
	right: 0;
	top: 4px;
	width: 24px;
	height: 18px;
	background-color: #f5f5f5;
	background-size: 16px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/ico-del.png');
}

.qsWrapper {
	cursor: auto;
	display: none;
	overflow: auto;
	max-width: 100%;
}

.queryString {
	border-collapse: collapse;
	width: 100%;
}

.queryString tr:nth-child(2n+1) {
	background-color: #e0e0e0;
}

.queryString td {
	padding: 0.2em 0.5em;
}

.queryString td:first-child {
	font-weight: bold;
	white-space: nowrap;
	width: 68px;
}

/* classes para filtro */
.filtrado .track {
	display: none;
}

#panel {
	padding-top: 47px;
}

.pageview .track.pageview:not(.hidden),
.event .track.event:not(.hidden),
.analytics4 .track.analytics4:not(.hidden),
.social .track.social:not(.hidden),
.transaction .track.transaction:not(.hidden),
.item .track.item:not(.hidden),
.timing .track.timing:not(.hidden),
.appview .track.appview:not(.hidden),
.exception .track.exception:not(.hidden) {
	display: block !important;
}

.track.hidden {
	display: none !important;
}